<div class="ContentArea">
    <!-- Top Options for current module
    ================================================== -->
    <div class="TopOptions">
        <h4 style="margin-top: 2px;">Inventory Manager <small>View Mode</small></h4>
    </div>

        <!-- Content Area
    ================================================== -->
    <div class="MainContent group" style="padding:5px;">
        <div>
            <a href="crmMain.html#/inventory/add" id="addInventory" class="btn btn-primary">Add Inventory</a>
        </div>

        <div id="grid"></div>

    </div>
</div>  
