<div class="ContentArea">
    <!-- Top Options for current module
    ================================================== -->
    <div class="TopOptions">
        <h4 style="margin-top: 2px;">Inventory Manager <small>Add Inventory Mode</small></h4>
    </div>

        <!-- Content Area
    ================================================== -->
    <div class="MainContent group" style="padding:5px;">
        <div>
            <a href="crmMain.html#/inventory" id="viewInventory" class="btn btn-primary">View Inventory</a>
        </div>
        <div style="width:99%;">

            <div style="font-size:14px;">
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><span style="font-weight:900;font-size:22px;">Instructions</span> <small>Click to expand/collapse</small></a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <ul>
                                    <li>Create an excel spreadsheet with the information of the devices you want to upload.</li>
                                    <li>When asked, please select the type of device you are uploading.
                                        <strong>IMPORTANT</strong>: This upload utility can handle one type of device at a time.  For instance, if you wanted to upload GenX CDMA and GenX HSPA, please upload one type first, and then the other, so you would need to execute this process 2 times.</li>
                                    <li>
                                        <p>The excel must have the following columns with these exact names:</p>
                                        <table style="border:1px solid #000000;border-collapse:collapse;padding:5px;">
                                            <tr>
                                                <td style="border:1px solid #000000;padding:5px;">SerialNumber</td>
                                                <td style="border:1px solid #000000;padding:5px;">IMEI</td>
                                                <td style="border:1px solid #000000;padding:5px;">CARRIER/SIMTYPE/MVNO</td>
                                                <td style="border:1px solid #000000;padding:5px;">SIM/ESN/MEID</td>
                                                <td style="border:1px solid #000000;padding:5px;">MSISDN/MDN</td>
                                            </tr>
                                        </table>
                                        <h4>*Notes</h4>
                                        <ul>
                                            <li><strong>SerialNumber</strong>: Mandatory</li>
                                            <li><strong>IMEI</strong>: Optional.  Leave blank if you want, but include the column in the excell nontheless.</li>
                                            <li><strong>CARRIER/SIMTYPE/MVNO</strong>: Mandatory.  Enter here an identifier of the type of sim. Examples: ATT, VERIZON, RACO, KORE...  You can come up with your own sim identifier.</li>
                                            <li><strong>SIM/ESN/MEID</strong>: Mandatory.  This is the sim card number or the ESN for CDMA devices.</li>
                                            <li><strong>MSISDN/MDN</strong>: Mandatory.  This is the 'phone number' of the device.  Please enter JUST NUMBERS (ex. 5553332222).  Do NOT include dashes or spaces or parenthesis.</li>
                                        </ul>
                                        <h5>You can download an excel template here:</h5>
                                        <div style="width:50%;">
                                            <div class="alert">
                                                <a href='templates/UploadDevicesTemplate.xls' target="_blank">Download Template (Excel 97-2003)</a>
                                            </div>
                                            <div class="alert">
                                                <a href='templates/UploadDevicesTemplate.xlsx' target="_blank">Download Template (Excel 2007 and above)</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>Copy / Paste the data from the excel spreadsheet into the box below.</li>
                                    <li>Click <strong>Import Data</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="addInventoryRawDataDiv">
                <textarea id="addInventoryRawData" rows="30" style="width:90%;"></textarea>
                <div>
                    <button id="btnAddInventoryRawDataUpload" ng-click="loadInventoryRawData()">IMPORT DATA</button>
                    <button id="btnClearAddInventoryRawDataArea" ng-click="clearInventoryRawData()">Clear Area</button>
                </div>
            </div>

            <div id="dataAddInventoryTableDiv" style="display:none;">
                <h4 style="color:#ff0000;">Please select the device type. Please upload one type of device at a time.</h4>
                <p>
                    <select id="cbxDevicesTypes" ng-model="deviceTypeId">
                        <option value="0">Select a Device Type</option>
                        <option value="6">GENX 5P CDMA VZ IA</option>
                        <option value="8">GENX 5P 659A 3G</option>
                        <option value="4">GENX 5P 656B</option>
                        <option value="10">GENX 5P 653 3G Int Ant</option>
                        <option value="11">GENX 5P CDMA VZ 655V10</option>
                        <option value="14">GENX 5P HSPA-CAN</option>
                        <option value="7">GENX 20</option>
                        <option value="">Other GenX model</option>
                    </select>
                </p>
                <h4 style="color:#ff0000;">Please press the 'COMPLETE IMPORT' button below to start processing your data.</h4>
                <p style="font-size:14px;">This may take a few minutes.  Please wait until the message of 'Information Processed...' appears.</p>
                <div id="dataCounters">
                    <p>Records processed: <span id="dataProcessed">{{ qtyProcessed }}</span> / <span id="dataTotal">{{ rawData.length }}</span></p>
                </div>
                <div style="padding:5px;">
                    <button id="btnProcessUpload" ng-click="processUpload()">COMPLETE IMPORT</button>
                    <button id="btnReloadUploadArea" ng-click="clearInventoryRawData()">ReImport data</button>
                </div>
                <div id="dataNewInventoryTable"></div>
            </div>

        </div> 
    </div>
</div>  
