#body {
    font-family: Arial, sans-serif;
}
.maintItem
{
    margin-left:10px;
    padding:3px;
    cursor:pointer;
    font-size:12px;
    font-weight:500;
}
.maintListTD
{
    border:0px solid #e1e1e1;
    line-height:15px;
}
.maintListCenteredTD
{
    text-align:center;
}
.maintListRightTD
{
    text-align:right;
    padding-right:10px;
}
.maintListOddTR
{
   background-color: #f1f1f1;
}
.isOverdue {
    color:#f00;
}

