.boxTitle
{
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
}
.howCome
{
     margin:5px 0px;
     font-size:12px;
     font-style:italic;
     font-weight:600;
     color:#ff0000;
}
.featureTitle
{
     font-size:14px;
     font-weight:600;
}
.featureDetails
{
    font-style:italic;
}
.featureBenefit
{
    font-size:11px;
    padding:4px; 
    vertical-align:top;
}

.ulFeatures
{
     list-style:none;
     margin:0px;
     padding:0px;
}
.featureNew
{
     background:url(../images/animated_new.gif) no-repeat 0 7px;
     padding:30px;
}
.ulFeatures li
{
     line-height:25px;
     margin: .30em 0;
     padding:0 0 0 25px;
     background:url(../images/CheckMarkx20.png) no-repeat 0 7px;
     font-size:16px;
}
.featuresHeader
{
    color:#3f3f3f;
    padding-top:10px;
}

.eventDescription
{
    padding:5px;
}
.eventName
{
    font-weight:600;
}
#footer 
{
    width:1024px;
    margin:auto;
    margin-top:5px;
    border-top:5px solid #618926;
}
.faq
{
     margin-left:20px;
     padding:3px;
}
.faq a
{
    text-decoration:none;
    color:#000000;
}
.faq a:hover
{
    font-weight:600;
}
.faqAnswers
{
   margin-left:20px;
   padding:3px;
   font-weight:600; 
}
a:hover
{
    font-weight:600;
    border:1px solid #a1a1a1;
}
.formField
{
    height:20px;
    font-size:16px;
}
.mandatoryField
{
    border:1px solid #a1a1a1;
    border-left:3px solid #ff0000;
}
.testimonialWidget
{
    width:200px;
    margin:5px;
}
.testimonialWide
{
    width:700px;
    margin:5px;
}
.testimonial
{
    border-left:1px solid #a1a1a1;
    border-right:1px solid #a1a1a1;
    font-size:11px;
    font-style:italic;
    padding:5px;
}
.testimonialSource
{
    font-size:10px;
    font-weight:600;
    font-style:normal;
    padding:2px;
}
