<!DOCTYPE html>
<html ng-app="crmApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CRM Cases</title>

    <link href="vendors/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendors/kendoui-2016Q1/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="vendors/kendoui-2016Q1/styles/kendo.bootstrap.min.css" rel="stylesheet" />

    <link href="Styles/common.css" rel="stylesheet" type="text/css" />
    <link href="Styles/app.css" rel="stylesheet" type="text/css" />


</head>
<body  ng-cloak ng-controller="casesController">
    <div id="header">
        <div id="topMenu">
            <a href="#" onclick="crmLogout()" class="loginDivClass">Logout</a>
            <div id="welcomeTitleDiv">
                <span id="welcomeTitleSpan"></span>
            </div>
            <div id="panelTypes">
                <input id="rbtCustomers" name="panelType" onclick="changePanel(1)" type="radio" style="margin-top:10px;" /><span class="topMenuOption">Customers</span>
                <input id="rbtCases" name="panelType" checked="checked" type="radio" style="margin-top:10px;" /><span class="topMenuOption">Cases</span>
                <input id="rbtOnBoarding" name="panelType" onclick="changePanel(4)" type="radio" style="margin-top:10px;" /><span class="topMenuOption">OnBoarding</span>
                <input id="rbtOnlineSupport" name="panelType" onclick="changePanel(5)" type="radio" style="margin-top:10px;" /><span class="topMenuOption">Engagement Metrics</span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row-fluid">
                <div class="col-md-2">
                    <select id="cbxCategories" class="form-control" ng-model="filter.categoryId" ng-options="item.id as item.name for item in basicTables.casesCategories"><option value="">Category</option></select>
                </div>
                <div class="col-md-2">
                    <select id="cbxTechnicians" class="form-control" ng-model="filter.assignedToId" ng-options="item.id as item.name for item in technicians"><option value="">Assigned To</option></select>
                </div>
                <div class="col-md-1">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" id="checkMine" ng-model="filter.onlyMine"> Show only mine
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" id="onlyOpen" ng-model="filter.onlyOpen"> Only Open Cases
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="btnApplyFilters" class="btn" ng-click="applyFilters()">Apply Filters</button>
                    <button id="btnClearFilters" class="btn" ng-click="clearFilters()">Clear Filters</button>
                    <button type="button" class="btn btn-link" ng-click="refreshView()">Refresh</button>
                </div>
            </div>
            
        </div>
    </div>
    <div style="width:100%;">
        <button class="btn btn-primary" type="button" id="btnNewCase" onclick="newCase()">New Case</button>
    </div>
    <div style="width:100%;">
        <div id="casesListGrid" kendo-grid k-options="gridOptions"></div>
    </div>

    <script src="Scripts/jquery-1.10.1.min.js"></script>
    <script src="vendors/underscore-1.7/underscore-min.js"></script>

    <script src="vendors/angular-1.4.9/angular.min.js"></script>
    <script src="vendors/angular-1.4.9/angular-resource.min.js"></script>
    <script src="vendors/angular-1.4.9/angular-route.min.js"></script>

    <script src="vendors/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script src="vendors/kendoui-2016Q1/js/kendo.all.min.js"></script>


    <script src="Scripts/utilities_002.js" type="text/javascript"></script>
    <script src="Scripts/crmdb.js" type="text/javascript"></script>
    <script src="Scripts/crmAuthorization.js" type="text/javascript"></script>
    <script src="Scripts/crmMainPanel.js" type="text/javascript"></script>
    <script src="Scripts/crmCases.js" type="text/javascript"></script>

    <script src="appCases/app.js" type="text/javascript"></script>
    <script src="appCases/controllers.js" type="text/javascript"></script>

    <script type="text/javascript" >
        $(document).ready(function () {

            if (crmValidateToken() == true) {
                setWelcomeTitle();
            }

        });
    </script>

</body>


</html>
