<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FM" version="2.9.34" targetFramework="net48" />
  <package id="FM.Log4Net" version="2.9.34" targetFramework="net48" />
  <package id="FM.Server" version="2.9.34" targetFramework="net48" />
  <package id="FM.WebSync" version="4.9.34" targetFramework="net48" />
  <package id="FM.WebSync.Chat" version="4.9.34" targetFramework="net48" />
  <package id="FM.WebSync.Chat.Server" version="4.9.34" targetFramework="net48" />
  <package id="FM.WebSync.Server" version="4.9.34" targetFramework="net48" />
  <package id="FM.WebSync.Subscribers" version="4.9.34" targetFramework="net48" />
  <package id="FM.WebSync.Subscribers.Server" version="4.9.34" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
</packages>