<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{actionModalTitle}}</h4>
        </div>
        <div class="modal-body">
            <h5>{{device.name}}</h5>
            <p>You have three options when inactivating a device: Temporarily Suspend service, request replacement of a broken unit, or fully Cancel.  Please select any of the options below.</p>
            <div class="radio">
                <label>
                    <input type="radio" name="{{device.id}}" value="1" ng-model="device.opt">
                    <strong>Temporarily Suspend the device.</strong>
                    <br />In this case, past Historical Data will be maintained for up to 6 months. You can un-suspend the device at any time while suspended. You will not be billed monthly for suspended devices. Devices that reach 6 months of being suspended will automatically be set for cancelation. We will send notification via e-mail when devices are approaching 6 months of suspension status. Please let us know if you need some more time for a particular device.
                    <br />
                    <strong>Comments (Optional):</strong>
                    <textarea id="userComment1" ng-model="usrComment" rows="2" style="width:100%;" ng-show="device.opt == 1"></textarea>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="{{device.id}}" value="2" ng-model="device.opt">
                    <strong>Cancel the device</strong> 
                    <br />
                    This option will cancel service on the device. All Historical data will be erased within 24 hours.  Please note that devices that are canceled can be re-activated. However, Canceled devices may need to be returned in order in order to re-activate. 
                    <br />
                    <strong>Comments (Optional):</strong>
                    <textarea id="userComment2" ng-model="usrComment" rows="2" style="width:100%;" ng-show="device.opt == 2"></textarea>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="{{device.id}}" value="3" ng-model="device.opt"/>
                    <strong>Seems broken.  Please check.</strong>
                    <br />
                    When a device is broken or not functioning properly, we usually are notified by the system and we proactively fix it, but also you can request a technician to check a device.  If the technician cannot fix the device, we may process a replacement.
                    <br />
                    <strong>Comments (Optional):</strong>
                    <textarea id="userComment3" ng-model="usrComment" rows="2" style="width:100%;" ng-show="device.opt == 3"></textarea>
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="savePopupModal(device)">Save changes</button>
        </div>
    </div>
</div>
